$background: #DFEFEE;

body { margin: 0; padding: 0; width:100%; height:100%; background: $background; }
.header { display:none; position: absolute; top:0; z-index:10; width: 100%; text-align: right; font: 12px Arial;}
#canvas-container { position: relative; width:100%; height:100%; margin: 0 auto; }
canvas#canvas { position: absolute; z-index: 2; display:block; width: 100%; height:100%; background: #283547;}
.footer { position: absolute; z-index:10; bottom: 0; width: 100%; text-align: center; font: 12px Helvetica, sans-serif; color:#8c9cb3; padding-bottom:3px; }
.footer b { color:#FF0000; font-size:120%; }
.dialog { position: absolute; z-index: 10; visibility: hidden; font-family: 'Rubik', 'Arial', sans-serif; font-size: 14px; padding: 0; color:#FFF; pointer-events:none; user-select:none; }
.dialog * { pointer-events:none; user-select:none; }
.dialog h1 { width:100%; font-family: 'Monserrat', 'Arial', sans-serif; font-size: 44px; color: #FFF; text-transform:uppercase; text-align:center; }
.dialog h2 { width:100%; font-family: 'Arial', sans-serif; font-size: 18px; color: #41ead4; text-align:center; font-weight:normal; }
.dialog div.row { width: 100%; margin: 10px 0; }
.dialog strong { color:#41ead4; }
.dialog strong.btc { color:#eb8c18; }
.dialog strong.zcash { color:#c8781a; }
.dialog p { margin-top:0; margin-bottom:10px; }
.dialog button { pointer-events: all; }
.dialog a { pointer-events: all; }
.dialog a:link { color:#50f3be; }
.dialog a:hover { color:#326463; }
.dialog a:active { color:#326463; }
.dialog a:visited { color:#50f3be; }
.dialog div.chapter { padding: 0 20px;}
#dialog-AC { padding: 20px 50px 0 50px; }
#dialog-AC form { margin:0 0 20px 0; }
#dialog-AC form .row { height:35px; }
#dialog-AC label { cursor: pointer; width: 120px; text-align: right; }
#dialog-AC label.label { cursor: default; display: inline-block; padding-right: 20px; vertical-align: top; padding-top:7px;}
#dialog-AC label img { margin-bottom: -5px; }
#dialog-AC input[type=text],
#dialog-AC select { font-size: 16px; width: 220px; padding: 5px 10px; border:1px solid grey; background:#fbfbfb;}
#dialog-AC input[type=checkbox],
#dialog-AC input[type=radio] { display: none; }
#dialog-AC label.choice { display: inline-block; width: 50px; text-align: center; margin-top:-5px;}
#dialog-AC label.choice input { display: none; }
#dialog-AC label.choice img { padding:5px; border-radius:20px; background:transparent;}
#dialog-AC label.choice input:checked ~ img { background:#4d4d4d;  }

@media only screen and (max-width: 1180px) {
  .dialog { font-size: 18px; }
}
@media only screen and (max-width: 993px) {
  .dialog { font-size: 22px; }
}
@media only screen and (max-width: 750px) {
  .dialog { font-size: 24px; }
}